#tooltip {
  position: absolute;
  background-color: black;
  width: 500px;
  text-align: center;
  color: white;
  padding: 1em;
  opacity: 0.90;
}

#tooltip h2, #tooltip h4 {
  /* font-family: 'Diablo Heavy'; */
  font-weight: bold;
  color: lime;
  font-size: 20px;
}

#tooltip h4 {
  font-size: 18px;
}

#tooltip p, #tooltip div {
  /* font-family: 'Diablo Heavy'; */
  color: white;
  font-size: 16px;
}

#tooltip .skill-block {
  margin: 0.5em 0;
}

#tooltip .skill-block.next-level p {
  color: #4A5568;
}
